* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    ---grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --font-size: 14px;
}

body {
    background: var(--grey-900);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: var(--font-size);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

button {
    cursor: pointer;
}

.container {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem auto;
    height: 90vh;
}