* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --font-size: 14px;
}

body {
    background: var(--grey-900);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
}

body,
input,
button {
    font-size: var(--font-size);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

button {
    cursor: pointer;
}

ul,
li,
ol {
    list-style: none;
}

.container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12rem auto;
    background: var(--grey-800);
    border-radius: 0.7rem;
    gap: 10px;
    padding: 2.5rem;
}

.intro_area {
    /* margin: auto; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.intro_area img {
    border-radius: 50%;
    width: 50%;
}

.intro_area .location {
    color: var(--green);
    font-weight: 600;
    width: 100%;
    display: block;
    font-size: 12px;
}

.intro_area>.quote {
    font-size: 14px;
    font-weight: 400;
    padding: 0.6rem 0;
}

.social_links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.social_links li {
    text-wrap: nowrap;
    text-align: center;
    padding: .5rem 10rem;
    background-color: var(--grey-700);
    border-radius: 0.4rem;
}